{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/prof.css' %}">
</head>
<style>
    h3 {
        text-align: center;
    }
</style>
<body>
<div class="image-container">
    <img src="static/images/USM_footerLogo.png" alt="Background Image">
</div>
<div class="container-fluid bg-dark text-light py-2 navbar-container" style="padding-top: 0;">
    <div class="container">
        <div class="d-flex justify-content-end">
            <div class="col-auto">
                <form class="position-relative ml-auto">
                    <div class="usr-search-header">
                        <div class="input-group user-search">
                            <input type="text" class="form-control search-chat outline-dark" id="text-srh"
                                   placeholder="Search Students">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-light"><i class="fa fa-search"
                                                                                       aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button id="editProfileBtn" class="btn btn-outline-light mr-2">
                <i class="fa fa-cog mr-1" aria-hidden="true"></i>Edit Profile
            </button>
            <button id="messageBtn" class="btn btn-outline-light mr-2">
                <i class="fa fa-inbox mr-1" aria-hidden="true"></i>Messages
            </button>
            <a href="{% url 'logout' %}" class="btn btn-outline-light"><i class="fa fa-sign-out mr-1"
                                                                          aria-hidden="true"></i>Logout</a>
        </div>
    </div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="profileContainer">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-profile rounded">
                <div id="profileInfo" style="display: none;">
                    <div id="currentInfo">
                        <h3>Basic Information</h3>
                        <p>Email: <span class="ml-1" id="user_email">{{ user_profile.email }}</span></p>
                        <p>Name: <span class="ml-1" id="first_name">{{ user_profile.first_name }}</span> <span
                                id="last_name">{{ user_profile.last_name }}</span></p>
                        <p>Bio: <span class="ml-1" id="Bio">{{ user_profile.bio }} </span></p>
                        <p>Major: <span class="ml-1" id="Major">{{ user_profile.major }}</span></p>
                        <p>Year: <span class="ml-1" id="Year">{{ user_profile.year }}</span></p>
                    </div>
                </div>
                <div style="background-image: url(static/images/usm.jpg);" class="card-header"></div>
                <div class="card-body text-center"><img src="{{ user_profile.profileimg.url }}" class="card-profile-img"
                                                        style="background-color: #ccc;">
                    <h3 class="mb-3">{{ request.user.username }}</h3>
                    <button class="btn btn-outline-dark btn-sm"><span class="fa fa-user-plus"></span> Follow</button>
                    <button id="more" class="btn btn-outline-dark btn-sm"><i class="fa fa-info mr-1"
                                                                             aria-hidden="true"></i>More
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card rounded">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Post" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </div>
                <div id="editProfileContainer" style="display: none;">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3 class="card-title">Edit Profile</h3>
                            <div class="col-span-2 mb-5">
                                <label for=""> Profile Image</label>
                                <br>
                                <input type="file" name="image" value="" class="shadow-none bg-gray-10">
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group mb-4">
                                        <label for="" class="form-label">Username</label>
                                        <input type="text" name="username" placeholder="Username"
                                               value="" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="" class="form-label">First Name</label>
                                            <input type="text" name="first_name" placeholder="First name"
                                                   value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="" class="form-label">Last Name</label>
                                            <input type="text" name="last_name" placeholder="Last Name"
                                                   value="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group mb-4">
                                        <label for="" class="form-label">Year of study</label>
                                        <select name="year" class="form-control custom-select">
                                            <option value="Freshman">Freshman</option>
                                            <option value="Sophomore">Sophomore</option>
                                            <option value="Junior">Junior</option>
                                            <option value="Senior">Senior</option>
                                            <option value="Graduate">Graduate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group mb-4">
                                        <label for="" class="form-label">Major</label>
                                        <select name="major" class="form-control custom-select">
                                            <option value="Accounting">Accounting</option>
                                            <option value="Art">Art</option>
                                            <option value="Biochemistry">Biochemistry</option>
                                            <option value="Biology">Biology</option>
                                            <option value="Chemistry">Chemistry</option>
                                            <option value="Communication">Communication</option>
                                            <option value="Computer Science">Computer Science</option>
                                            <option value="Criminology">Criminology</option>
                                            <option value="Economics">Economics</option>
                                            <option value="Electrical and Computer Engineering">Electrical and Computer
                                                Engineering
                                            </option>
                                            <option value="English">English</option>
                                            <option value="Environmental Science">Environmental Science</option>
                                            <option value="Finance">Finance</option>
                                            <option value="Health Sciences">Health Sciences</option>
                                            <option value="History">History</option>
                                            <option value="Industrial Engineering">Industrial Engineering</option>
                                            <option value="Information Technology">Information Technology</option>
                                            <option value="Linguistics">Linguistics</option>
                                            <option value="Management">Management</option>
                                            <option value="Mathematics">Mathematics</option>
                                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                                            <option value="Media Studies">Media Studies</option>
                                            <option value="Music">Music</option>
                                            <option value="Nursing">Nursing</option>
                                            <option value="Philosophy">Philosophy</option>
                                            <option value="Physics">Physics</option>
                                            <option value="Political Science">Political Science</option>
                                            <option value="Psychology">Psychology</option>
                                            <option value="Public Health">Public Health</option>
                                            <option value="Social Work">Social Work</option>
                                            <option value="Sociology">Sociology</option>
                                            <option value="Technology Management">Technology Management</option>
                                            <option value="Theatre">Theatre</option>
                                            <option value="Women and Gender Studies">Women and Gender Studies</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <label for="" class="form-label">About Me</label>
                                        <textarea name="bio" rows="5" placeholder="Tell us about yourself!"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#editProfileBtn").click(function () {
                $("#editProfileContainer").slideToggle();
            });

            $("#editProfileContainer").hide();
        });
        $(document).ready(function () {
            $("#more").click(function () {
                $("#profileInfo").slideToggle()
            });
        });


    </script>
</div>
</body>
</html>
